<section class="main-section section-pad ">
  <div class="backgorund-overlay text-white">
    <div class="container-fluid p-3">
      <div class="row my-5 "> 
        <div class="col-md-6 container-form pr-4">
          <div class="card py-4">
            <div class="container">
              <div class="card-head text-center">
                <h4>DAR PERRO O GATO EN ADOPCIÓN</h4>
              </div>
              <div class="">
                <!--<app-register></app-register>-->
                <app-form-pet></app-form-pet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
