<section class="main-section section-pad text-white">
  <div class="backgorund-overlay">
    <div class="container py-5 top-margin">
      <div class="row my-5">
        <div class="col-md-6 content-center pl-8">
            <h1>Adopción perros y gatos Bogotá</h1>
            <p>La Compra no es una opción, ¡Adopta! Ellos te lo agradecerán.
            </p>
            <a routerLink="/dogs" class="botton botton-white">
              <i class="fas fa-bone"></i>
              <b> Adoptar </b>
              <i class="fas fa-bone"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-pictures-section></app-pictures-section>
</section>
<section>
  <app-team-section></app-team-section>
</section>
