.main-section{
  background-image: url(../../../../assets/images/fondo2.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative;
}
.section-pad{
  padding: 105px 0;
}
.content-center{
  text-align: center;
}
.backgorund-overlay{
  background-color: rgba(116, 110, 110, 0.349);
  height: 84%;
  width: 100%;
  position: absolute;
}
h1{
  font-size: 35px;
  font-family:'Pacifico', cursive;
  font-weight: 600;
}
p{
  font-size: 18px;
  font-family:'Pacifico', cursive;
  color: red($color: #aedbfa);
}
.container-form .card-head{
  font-family: Arial, Bold-italic;
  color: black;
  font-size: 1.25rem
}