.navbar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  min-height: 100px;
}
.nav-color{
  background-color: white;
}

.navbar-brand{
  color: black;
  font-family:'Pacifico', cursive;
  font-size: large;
}
.nav-link{
  color: black;
}
.nav-link:hover{
  color: red($color: #23a8a8);
}