<section id="portafolio">
  <div class="container-fluid section-pad">
    <div class="content-center">
      <h2>Pequeños que ya encontraron hogar</h2>
      <p>
        Estos son algunos de los afortunados perritos y gatitos que ya encontraron un hogar, ahora estan haciendo felices a muchas familias. 
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/cat1.jpg" class="img-fluid" alt="cat1">
        </div>
      </div>
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/dog2.jpg" class="img-fluid" alt="dog2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/cat2.jpg" class="img-fluid" alt="cat2">
        </div>
      </div>
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/dog3.jpg" class="img-fluid" alt="dog3">
        </div>
      </div>
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/cat4.jpg" class="img-fluid" alt="cat3">
        </div>
      </div>
      <div class="col-md-4">
        <div class="portafolio-container">
          <img src="../../../../assets/images/dog4.jpg" class="img-fluid" alt="dog4">
        </div>
      </div>
    </div>
  </div>
</section>
