<form (ngSubmit)="saveForm()" [formGroup]="registerForm">

  <div class=" row form-group content-center">
    <div class="col-md-12">
      <label for="">Titulo del post(*)</label>
      <input type="text" class="form-control" placeholder="Ej: Hermoso perro en adopción" formControlName="tituloPost">
      <div class="alertt" *ngIf="tituloPost.invalid && (tituloPost.dirty ||   tituloPost.touched)" >
        <span>Ingrese el título del post (Solo letras)</span>
      </div>
    </div>    
  </div>

  <div class="row form-group content-center">
    <div class="col-md-6">
      <label for="">Seleccione el tipo de mascota (*)</label>
      <select id="typePet" name="typePet" class="form-control" formControlName="typePet">
        <option selected>Tipo de mascota</option>
        <option>Gato</option>
        <option>Perro</option>
      </select>
      <div class="alertt" *ngIf="typePet.invalid && (typePet.dirty ||         typePet.touched)" >
        <span>Debe seleccionar el tipo de mascota</span>
      </div>
    </div>


    <div class="col-md-6">
      <label for="">Nombre de la mascota(*)</label>
      <input type="text" class="form-control" placeholder="Ej: Sacha" formControlName="namePet" required>
      <div class="alertt" *ngIf="namePet.invalid && (namePet.dirty ||   namePet.touched)" >
        <span>Ingrese el nombre de la mascota (Solo letras)</span>
      </div>
    </div>

  </div>
  <div class=" row form-group content-center">
    <div class="col-md-6">
      <label for="">Raza de la mascota(*)</label>
      <input type="text" class="form-control" id="racePet" name="racePet" placeholder="Ej: Criollo(a), pitbull, etc." formControlName="racePet">
      <div class="alertt" *ngIf="racePet.invalid && (racePet.dirty ||       racePet.touched)" >
        <span>Ingrese la raza de la mascota (Solo letras)</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Edad de la mascota(*)</label>
      <input type="text" class="form-control" placeholder="Ej: 2 meses, 2años" formControlName="agePet">
      <div
        class="alertt" *ngIf="agePet.invalid && (agePet.dirty ||   agePet.touched)" >
          <span>Ingrese la edad de la mascota</span>
      </div>
    </div>
  </div>
  <div class="row form-group content-center"> 
    <div class="col-md-6">
      <label for="">Seleccione el sexo (*)</label>
      <select id="generoPet" name="generoPet" class="form-control" formControlName="generoPet">
        <option>Hembra</option>
        <option>Macho</option>
      </select>
      <div class="alertt" *ngIf="generoPet.invalid &&         (generoPet.dirty ||   generoPet.touched)" >
          <span>Indique el genero</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Vacunas (*)</label>
      <select id="vaccinePet" name="vaccinePet" class="form-control" formControlName="vaccinePet">
        <option>Ninguna</option>
        <option>Solo las de inicio</option>
        <option>Al día</option>
        <option>No sabe</option>
      </select>
      <div
        class="alertt" *ngIf="vaccinePet.invalid && (vaccinePet.dirty ||   vaccinePet.touched)" >
          <span>Dejenos saber si esta vacunada</span>
      </div>
    </div>
  </div>
  <div class="row form-group content-center">
    <div class="col-md-6">
      <label for="">¿Esta esterilizada la mascota? (*)</label>
      <select id="sterilizePet" name="sterilizePet" class="form-control" formControlName="sterilizePet">
        <option>Si</option>
        <option>No</option>
        <option>No sabe</option>
      </select>
      <div
        class="alertt" *ngIf="sterilizePet.invalid && (sterilizePet.dirty ||   sterilizePet.touched)" >
        <span>Indique si la mascota es esterilizada</span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">¿Donde está ubicado?(*)</label>
      <input type="text" class="form-control" id="locatedPet" name="locatedPet" placeholder="Ej: Cl. 45#27-07, Bogotá" formControlName="locatedPet">
      <div
        class="alertt" *ngIf="locatedPet.invalid && (locatedPet.dirty ||   locatedPet.touched)" >
          <span>Indique su ubicación</span>
      </div>
    </div>
  </div>
  <div class="row form-group content-center">
    <div class="col-md-6 mb-3">
      <label for="">Ingrese el correo(*)</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Correo electronico"
        formControlName="email" required>
      <div class="alertt" *ngIf="email.invalid && (email.dirty ||   email.touched)">
        Ingrese el correo correctamente
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Telefono</label>
      <input formControlName="celular" class="form-control" placeholder="Celular" type="text"/>
      <div class="alertt" *ngIf="celular.invalid && (celular.dirty ||   celular.touched)" >
        <span>Ingrese el número correctamente</span>
      </div>
    </div>
  </div>
  <div class="form-row form-group content-center" id="form-react">  
    <div class="form-group col-md-6 mb-3">
      <label for="">Pais</label>
      <select id="world" name="world" class="form-control" formControlName="world" required>
        <option selected>Seleccione pais</option>
        <option *ngFor="let world of worlds; index as i ">
          {{world.name}}
        </option>
      </select>
      <div class="alertt" *ngIf="world.invalid && (world.dirty ||   world.touched)">
        Seleccione el pais
      </div>
    </div>
    <div class="col-md-6">
      <label class="px-5" for="">Imagen</label>
      <button class="btn btn-success px-5"> cargar foto</button>
    </div>
  </div>
  <div class="col-md-12 content-center">
    <button type="submit" class="btn btn-dark p-3" [disabled]="registerForm.invalid">Enviar</button>
  </div>
</form>
