<section id="footer" class="footer">
  <div class="container content-center p-3">
    <a class="logo-brand" routerLink="">
      <i class="fas fa-paw"></i>
      Adopta tu mascota
    </a>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="nav-link" class="logo-brand" href="https://www.facebook.com/groups/308761335823574/">
          <i class="fab fa-facebook" ></i>
        </a> 
      </li>
      <li class="list-inline-item">
        <a class="nav-link" class="logo-brand" href="">
          <i class="fab fa-whatsapp" ></i>
        </a> 
      </li>
      <li class="list-inline-item">
        <a class="nav-link" class="logo-brand" href="">
          <i class="fab fa-instagram" ></i>
        </a> 
      </li>
      <li class="list-inline-item">
        <a class="nav-link" class="logo-brand" href="">
          <i class="fab fa-youtube"></i>
        </a> 
      </li>
    </ul>
    <small class="logo-brand">© 2019 – Adopciones de Perros y Gatos en Bogotá- Todos los Derechos Reservados</small>
  </div>
</section>
